/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// variables to override
$navbar-default-color: rgb(181, 55, 0);
$navbar-default-bg: #FFE7CB;
$navbar-default-link-color: rgb(181, 55, 0);
$navbar-default-link-hover-color: darken($navbar-default-link-color, 15%);
$navbar-default-toggle-hover-bg: darken($navbar-default-bg, 6.5%);
$navbar-default-toggle-icon-bar-bg: darken($navbar-default-bg, 30%);
$navbar-default-toggle-border-color: darken($navbar-default-bg, 20%);

@import "bootstrap-sprockets";
@import "bootstrap";

// Set the correct sprite paths
$iconSpritePath: image-url("twitter/bootstrap/glyphicons-halflings.png");
$iconWhiteSpritePath: image-url("twitter/bootstrap/glyphicons-halflings-white.png");

// Set the Font Awesome (Font Awesome is default. You can disable by commenting below lines)
$fontAwesomeEotPath: font-url("fontawesome-webfont.eot");
$fontAwesomeEotPath_iefix: font-url("fontawesome-webfont.eot?#iefix");
$fontAwesomeWoffPath: font-url("fontawesome-webfont.woff");
$fontAwesomeTtfPath: font-url("fontawesome-webfont.ttf");
$fontAwesomeSvgPath: font-url("fontawesome-webfont.svg#fontawesomeregular");


@media print {
  .no-print {
    display: none;
  }
}

.badge, .label {
  &:not(:first-child) {
    margin-left: 0.4em;
  }
}


.btn {
  .glyphicon {
    margin-right: .4em;
  }
}

form {
  .actions {
    margin: 1em 0;
  }
  .field {
    margin: .6em 0;
  }
  .markdown-input {
    font-family: Ricty, Consolas, Menlo, "Hiragino Kaku Gothic Pro", Meiryo, monospace;
    resize: vertical;
  }
}

.page-view {
  .tags {
    a {
      color: white;
    }
  }
}

.markdown-body {
  h1 {
    font-size: 24px;
    line-height: 1.4em;
    border-bottom: 2px solid #e8e8e8;
  }
  h2 {
    font-size: 22px;
    line-height: 1.4em;
    border-bottom: 1px solid #ccc;
  }
  h3 {
    font-size: 20px;
    line-height: 1.4em;
    border-bottom: 1px solid #e8e8e8;
  }

  h1, h2, h3, h4 {
    &:nth-child(1) {
      margin-top: 0;
    }
  }

  img {
    max-width: 100%;

    &.emoji {
      width: 1em;
      height: 1em;
    }
  }

  table {
    @extend .table, .table-bordered, .table-condensed;
  }
}
